## Last changed: 2019-04-02 12:52:42 PDT
version 18.3R1.9;
groups {
    if-families {
        interfaces {
            ge-0/0/4 {
                unit <*> {
                    family iso;
                }
            }
            <ae*> {
                unit <*> {
                    family iso;
                }
            }
        }
    }
}
apply-groups if-families;
system {
    login {
        class limited {
            permissions [ view view-configuration ];
        }
        class privileged {
            permissions all;
            deny-commands "(clear)|(configure)|(edit)|(start shell)";
        }
        user lab {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$9jV4iPQ.$PD1wRocJ.d1ec.4G9.Bage7zRkvOrJeA9i/uOouk4L/1y3pJPQawJK70VIw4aOuDfEvTXd8UbPDLHAJpk2y5N0"; ## SECRET-DATA
            }
        }
        user noc {
            uid 2003;
            class privileged;
            authentication {
                encrypted-password "$6$Nh8cyZPS$P37TlZpodhZrtoXzdGi1Fhi6sKRbv53Xl.Rq.rXy9ljqi7jC6cVTbP4Y1t4Uy7/4UZd4tzOprsmRRabP2sXGn/"; ## SECRET-DATA
            }
        }
        user ops {
            uid 2004;
            class operator;
            authentication {
                encrypted-password "$6$JIkSHuFS$n9KGjFqgWBKLIXBUW1yIlPr8/tHnTI.5DEiwppqwPRieiU3Fl421k1WjfgaBFphO2QOO9k90O37MQ5vEaWdNf0"; ## SECRET-DATA
            }
        }
        user remote {
            uid 2006;
            class limited;
        }
    }
    root-authentication {
        encrypted-password "$6$huMlsTGL$dAhbrz7kJlImka/3VMHG3f1WlD/RTg806PqT1Ul9g3noiyZwqvXTwRU13URLccjz3P8IPUe2LNClN43oIOhJd1"; ## SECRET-DATA
    }
    host-name R1;
    backup-router 10.10.1.254 destination 10.10.10.0/24;
    time-zone America/Los_Angeles;
    authentication-order [ radius password ];
    name-server {
        10.10.1.100;
    }
    radius-server {
        10.10.1.100 {
            secret "$9$xCbd2aTQn9tOqm5F/tIRxNdsgJ"; ## SECRET-DATA
            timeout 2;
            retry 1;
        }
    }
    scripts {
        commit {
            file interface-mask-check.slax;
        }
        op {
            file show-interfaces.slax;
        }
    }
    services {
        ftp;
        ssh;
        telnet;
    }
    syslog {
        archive size 100k files 3;
        user ops {
            any warning;
        }
        host 10.10.1.100 {
            any notice;
            change-log any;
            interactive-commands any;
        }
        file jncie-sp-messages {
            any info;
        }
        file user-commands {
            interactive-commands any;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://lab@10.10.1.100" password "$9$Cp7mA0IEhrKvLIR-VY2aJ"; ## SECRET-DATA
            }
        }
    }
    ntp {
        boot-server 10.10.1.100;
        authentication-key 1 type md5 value "$9$5FCuvMXNVYSrK87V4o5QF/A0"; ## SECRET-DATA
        server 10.10.1.100 key 1; ## SECRET-DATA
        trusted-key 1;
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
    fpc 0 {
        lite-mode;
        flexible-queuing-mode;
    }
}
interfaces {
    ge-0/0/1 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/2 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/4 {
        vlan-tagging;
        unit 114 {
            description "R4 connection";
            vlan-id 114;
            family inet {
                address 172.30.0.5/30;
            }
        }
        unit 118 {
            description "R8 connection";
            vlan-id 118;
            family inet {
                address 172.30.0.9/30;
            }
            family inet6;
        }
    }
    ge-0/0/5 {
        vlan-tagging;
        unit 300 {
            vlan-id 300;
            family inet {
                address 192.168.1.1/24;
            }
        }
    }
    ae0 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            description "R2 connection";
            family inet {
                address 172.30.0.1/30;
            }
            family inet6;
        }
    }
    fxp0 {
        unit 0 {
            description "OoB Management";
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input protect-re;
                }
                address 172.30.5.1/32;
            }
            family iso {
                address 49.0001.1720.3000.5001.00;
            }
            family inet6 {
                address fd17:f0f4:f691:5::1/128;
            }
        }
    }
}
snmp {
    v3 {
        usm {
            local-engine {
                user lab {
                    authentication-sha {
                        authentication-key "$9$4GZHmpu1ESe69tORSMW4aZjkP"; ## SECRET-DATA
                    }
                    privacy-3des {
                        privacy-key "$9$z6166pB8LNVs4lKWxdsJZz36Au1"; ## SECRET-DATA
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name lab {
                        group primary-group;
                    }
                }
            }
            access {
                group primary-group {
                    default-context-prefix {
                        security-model usm {
                            security-level privacy {
                                read-view root-view;
                            }
                        }
                    }
                }
            }
        }
        target-address S1 {
            address 10.10.1.100;
            tag-list all-nms;
            target-parameters S1-parameters;
        }
        target-parameters S1-parameters {
            parameters {
                message-processing-model v3;
                security-model usm;
                security-level privacy;
                security-name lab;
            }
        }
        notify traps {
            type trap;
            tag all-nms;
        }
        notify-filter all-traps {
            oid snmpTraps;
            oid jnxTraps;
            oid linkUp exclude;
        }
    }
    view root-view {
        oid .1 include;
    }
}
event-options {
    policy sylog_if_description {
        events [ snmp_trap_link_up snmp_trap_link_down ];
        then {
            event-script syslog-int-desc-on-link-change.slax;
        }
    }
    policy snmptrap_if_description {
        events SYSTEM;
        attributes-match {
            SYSTEM.message matches NEW_SNMP_TRAP_LINK;
        }
        then {
            raise-trap;
        }
    }
    event-script {
        file syslog-int-desc-on-link-change.slax;
    }
}
routing-options {
    static {
        route 10.10.10.0/24 {
            next-hop 10.10.1.254;
            no-readvertise;
        }
    }
    router-id 172.30.5.1;
    autonomous-system 65000;
    confederation 54591 members [ 65000 65001 65002 65003 ];
}
protocols {
    bgp {
        group ibgp {
            type internal;
            local-address 172.30.5.1;
            authentication-key "$9$qPT3REyKvLApIc"; ## SECRET-DATA
            neighbor 172.30.5.2;
        }
        group cbgp {
            type external;
            multihop;
            local-address 172.30.5.1;
            authentication-key "$9$gYaGi6/tOBEP5nC"; ## SECRET-DATA
            peer-as 65003;
            neighbor 172.30.5.8;
        }
        group IX {
            log-updown;
            peer-as 1620;
            neighbor 192.168.1.3;
            neighbor 192.168.1.4;
        }
    }
    isis {
        reference-bandwidth 10g;
        topologies ipv6-unicast;
        level 2 disable;
        level 1 {
            authentication-key "$9$lw6v87ZGi.mTwYJD"; ## SECRET-DATA
            authentication-type md5;
            wide-metrics-only;
        }
        interface ge-0/0/5.300 {
            level 1 {
                passive;
            }
        }
        interface all {
            point-to-point;
            family inet {
                bfd-liveness-detection {
                    minimum-interval 2000;
                    multiplier 3;
                }
            }
        }
    }
}
policy-options {
    prefix-list bgp-peers {
        apply-path "protocols bgp group <*> neighbor <*>";
    }
}
firewall {
    family inet {
        filter protect-re {
            term ah {
                from {
                    protocol ah;
                }
                then accept;
            }
            term bfd {
                from {
                    protocol udp;
                    port 3784;
                }
                then accept;
            }
            term vrrp {
                from {
                    protocol vrrp;
                }
                then accept;
            }
            term rip {
                from {
                    protocol udp;
                    port rip;
                }
                then accept;
            }
            term ospf {
                from {
                    protocol ospf;
                }
                then accept;
            }
            term ldp {
                from {
                    protocol [ udp tcp ];
                    port ldp;
                }
                then accept;
            }
            term rsvp {
                from {
                    protocol rsvp;
                }
                then accept;
            }
            term pim {
                from {
                    protocol pim;
                }
                then accept;
            }
            term igmp {
                from {
                    protocol igmp;
                }
                then accept;
            }
            term msdp {
                from {
                    protocol tcp;
                    port msdp;
                }
                then accept;
            }
            term bgp {
                from {
                    source-prefix-list {
                        bgp-peers;
                    }
                    protocol tcp;
                    port bgp;
                }
                then accept;
            }
            term ntp {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol udp;
                    port ntp;
                }
                then accept;
            }
            term snmp {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol udp;
                    port snmp;
                }
                then accept;
            }
            term radius {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol udp;
                    port radius;
                }
                then accept;
            }
            term dns {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol udp;
                    port domain;
                }
                then accept;
            }
            term ssh {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol tcp;
                    port ssh;
                }
                then accept;
            }
            term telnet {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol tcp;
                    port telnet;
                }
                then accept;
            }
            term ftp {
                from {
                    source-address {
                        10.10.1.0/24;
                    }
                    protocol tcp;
                    port [ ftp ftp-data ];
                }
                then accept;
            }
            term icmp {
                from {
                    protocol icmp;
                }
                then {
                    policer re-policer;
                    accept;
                }
            }
            term traceroute {
                from {
                    protocol udp;
                    port 33434-33534;
                }
                then {
                    policer re-policer;
                    accept;
                }
            }
            term last {
                then {
                    count dropped-packets;
                    log;
                    discard;
                }
            }
        }
    }
    policer re-policer {
        if-exceeding {
            bandwidth-limit 100k;
            burst-size-limit 25k;
        }
        then discard;
    }
}
